@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@200&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: #212020;
    font-family: 'Heebo', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.selected {
    color: #e5b959;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    gap: 35px;
    cursor: pointer;
}

.navbar li {
    text-decoration: none;
    list-style-type: none;
}

.navbar li a {
    color: white;
    font-size: 3vh;
    padding: 3.5px;
    text-decoration: none;
    transition-duration: 350ms;
    transition-property: background, color, border-radius;
}

.navbar li a:hover {
    background-color: #e5b959;
    color: black;
    border-radius: 3px;
}

.post {
    background-color: #000000;
    color: white;
    width: 120vh;
    border-radius: 15px;
    margin: 0 auto 2vh auto;
    padding: 7px;
}

.post h1, .post p {
    margin: 0;
}