@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@200&display=swap');

html, body {
    margin: 0;
    height: 100%;
    background-color: black;
}

body {
    background: rgb(0,0,0);
    background: linear-gradient(61deg, rgba(0,0,0,1) 38%, rgba(57,56,56,1) 84%, rgba(84,84,84,1) 91%, rgba(143,141,141,1) 97%, rgba(215,215,215,1) 100%);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
    font-family: 'Poppins', sans-serif;
    min-height: 100%;
}

.navbar {
    display: flex;
    justify-content: center;
    padding: 20px;
    background: none;
}

.selected {
    color: #e5b959;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    gap: 35px;
    cursor: pointer;
}

.navbar li {
    text-decoration: none;
    list-style-type: none;
}

.navbar li a {
    color: white;
    font-size: 3vh;
    padding: 3.5px;
    text-decoration: none;
    transition-duration: 350ms;
    transition-property: background, color, border-radius;
}

.navbar li a:hover {
    background-color: #e5b959;
    color: black;
    border-radius: 3px;
}

.main {
    padding-top: 50px;
}

.image {
    background: none;
    height: 75vh;
    float: right;
}

.content {
    position: relative;
    background: none;
    color: white;
    float: left;
    margin-left: 200px;
}

.h7 {
    position: absolute;
    transform: translate(0, 12px);
}

.content h1 {
    margin: 0;
    font-size: 15vh;
    font-weight: 100;
}

.content h1:first-letter{
    color: #e5b959;
}

.content p {
    position: absolute;
    right: 0;
    bottom: 5px;
    margin: 0;
    font-size: 2.6vh;
    text-align: right;
}
